<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Volunteer Opportunities</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
  </head>
 
  <body background="http://365psd.com/images/previews/e55/5-blurred-backgrounds-image-2013Part-2-Background-16-without-Glare.jpg" style="background-size: auto 100%">
    
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home">Volunteer Opportunities</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="home">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="about">About</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Great Sites<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.volunteermatch.org/">Volunteer Match</a></li>
            <li><a href="http://www.idealist.org/">Idealist</a></li>
            <li><a href="http://www.handsonnetwork.org/">Hands On Network</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
  <div class="row text-center">
  <h1 class="text-center" top-margin="1000px"><font>Who Can You Help Today?</font></h1>
  <img src="http://www.dbqhumane.org/dbqhumane/site_files/editor_files/image/image/volunteer.jpg">
  <div width: 50% float="left">
     <h2 class="text-center">Select Several Characteristics That You View As Essential In A Volunteer Organization And We Will Match You With A Local Group</h2>
  </div>
  </div>
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Characteristic
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/filter?tag_value=medical">Medical</a></li>
    <li><a href="/filter?tag_value=people">People</a></li>
    <li><a href="/filter?tag_value=animals">Animals</a></li>
    <li><a href="/filter?tag_value=education">Education</a></li>
    <li><a href="/filter?tag_value=faith">Faith</a></li>
    <li><a href="/filter?tag_value=fitness">Fitness</a></li>
    <li><a href="/filter?tag_value=nature">Nature</a></li>
  </ul>
</div>
 <table class='table table-hover table-responsive table-bordered' style="border:1px solid black">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Website</th>
<!--             <th><font>Tags</font></th> -->
          </tr>
<%@data.each do |row|%>        
          <tr>
            <td><font><%=row[:name]%></font></td>
            <td><font><%=row[:address]%></font></td>
            <td><font><%=row[:phone]%></font></td>
            <td><font><%=row[:age]%></font></td>
            <td><font><%=row[:website]%></font></td>
<!--             <td><font><%=row[:tags]%></font></td>   -->
          </tr>
          <%end%>

</table>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  

  
  
  </body>

</html>